@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
header{
    background: black;
}
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

/* footer */

.navbar-fixed-bottom {
    margin-top: 45px;
    padding-top: 15px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }
  
  .navbar-fixed-bottom a {
    color: #555;
  }
  
  .navbar-fixed-bottom a:hover {
    color: #222;
  }
  
  .navbar-fixed-bottom small {
    float: left;
  }
  
  .navbar-fixed-bottom ul {
    float: right;
    list-style: none;
  }
  
  .navbar-fixed-bottom ul li {
    float: left;
    margin-left: 15px;
  }