<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <small>
            Crowdfunding Rails App</a>
            by
            <a href="http://www.drteresavasquez.com/">Dr. Teresa Vasquez</a>
        </small>
        <ul>
            <li>
                <%= link_to "About", about_path %>
            </li>
            <li>
                <a href="http://www.drteresavasquez.com/blog">Blog</a>
            </li>
        </ul>
    </div>
</nav>